.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70vmax;
    min-width: 50vmax;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 30px;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
 
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 90%;
    padding: 10px;
    outline: 0;
    font-size: 1rem;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    display: block;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .form label .input:placeholder-shown + span {
    top: 1rem;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
 

  .center{
    color:#3399ff;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 0px 600px 0px 600px;
    width: 100%;
    transition-duration: 1.5s;
    
}
.center:hover{
    background-color: royalblue;
    
}
.select-dropdown{
  padding: 0.3rem 0.5rem;
  border-radius: 5%;
  display: inline-block;
  margin-left: 0.5rem;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  width: 28%;
}
  
.form div{
  margin: 0 0 1rem 2rem;
}

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
    
  }
  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
  }
  .submit-2 {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color:#4169e1;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 35%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
  
  }
  .submit-2:hover{
    background-color: #22356d;
    color: #ffffff;

  }

  .reset{
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 35%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color:#e14141;
  }
  .reset:hover{
    background-color:#772d2d;
  }

  .text-red-400{
    font-size: 1rem;
    color: red;
  }