.fluid-container{
    /* width: 100%; */
    margin-top: 5%;
    display: flex;
    justify-content: center;
    display: flex;
    
}

.form-box {
    /* background-color: rgb(2, 14, 74); */
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 40px 45px -3px black, 0 40px 45px -2px rgba(0, 0, 0, 0.05);
    /* transition-duration: 1.5s; */
    animation:mymove 8s infinite;
    
  }
  @keyframes mymove {
    from { background-color: rgb(2, 14, 74);}
    to {background-color: rgb(107, 36, 222);}
    }

  .form-box:hover {
    /* background-color: rgb(107, 36, 222); */
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 40px 45px -3px black, 0 40px 45px -2px rgba(0, 0, 0, 0.05);
    
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  .submit:hover{
    background-color: #241f87;
    color: #ffffff;
  }
  
  .signup-link {
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;

  }
  
  .signup-link a {
    text-decoration: underline;
  }

  .text-red-500{
    color: rgb(184, 13, 13);
    margin: 0.6rem;
  }
  .sinup{
    font-size:medium;
    font-weight: bolder;
    color: white;
  }
  .img1{
    height: 82px;
    width: 150px;
  }
  